/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list-dialog {
    overflow: hidden; 
    height: auto !important; 
    width: 252px;
    border: 1px solid #abadb3;
    cursor: text;
    font-size: 11px;
    z-index: 999999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;

}

ul.token-input-list-dialog li {
    list-style-type: none;

}

ul.token-input-list-dialog li input {
    border: 0;
    width: 252px;
    padding: 1px 2px;
    background-color: white;
    -webkit-appearance: caret;
}


li.token-input-token-dialog {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 1px;
    padding: 2px 2px;
    background-color: #fff;
    color: #000;
    cursor: default;
	

}

li.token-input-token-dialog p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token-dialog span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token-dialog {
    background-color: #ededed;
    color: #aaaaaa;
}

li.token-input-selected-token-dialog span {
    color: #000000;
}








div.token-input-dropdown-dialog {
    width: 252px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    font-size: 11px;
    z-index: 99999999;
}

div.token-input-dropdown-dialog p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
	
}

div.token-input-dropdown-dialog ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-dialog ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
    border-bottom: 1px solid #999;
}

div.token-input-dropdown-dialog ul li.token-input-dropdown-item-dialog {
    background-color: #f7f7f7;
}

div.token-input-dropdown-dialog ul li.token-input-dropdown-item2-dialog {
    background-color: #fff;
}

div.token-input-dropdown-dialog ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-dialog ul li.token-input-selected-dropdown-item {
    background-color: #ededed;
}
