#toolbar_panel{
	position: fixed; 
	top:0;
	left:0;
	display: block;
	width: 100%;
	margin: 0;
	background: url('/images/toolbar/fon.gif');
	height: 36px;
	z-index: 9999;
	box-shadow: 1px 0px 3px #000;
}

#sub_toolbar_panel{
	width: 950px;
	margin: 0 auto;
	z-index: 9999;
}

#toolbar_panel .toolbar-section{
    float:left;
	padding:3px 7px 7px;
	height:26px;
	margin:0;
    border-style:solid;
	border-width:0 1px;
	border-color:#f8f8f8 #d6d6d6 #f8f8f8 #f8f8f8;
	text-align: center;
	display: table-cell;
	
}




#toolbar_panel .but_set{
	
	background: url('/images/toolbar/set.png') no-repeat;
	background-position: center 4px;
	cursor: pointer;
}

#toolbar_panel .but_set:hover{
	background: url('/images/toolbar/set.png') no-repeat;
	background-position: center -23px;
}


#toolbar .auth{
	width:170px;
}



#toolbar_panel .search{
	border-width:1px 0 0 0;
	width:177px;
}


#toolbar .sports{
width:200px;	
}

#toolbar .sor{
width:187px;	
}

#toolbar .toolbar_set {
	width: 20px;
}
#toolbar .cs {
	width: 100px;
}

#auth_loading{
	display: none;
}



#toolbar_settings{
	position: fixed;
	top: 40px;
	width: 100%;
	left:0;
	z-index: 9999;
	display: none;
}

#sub_toolbar_settings{
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 190px;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	z-index: 9999;
}


#sub_toolbar_settings .auth select{
	width:170px;
	margin: 2px 0;
}

#sub_toolbar_settings .sports select{
	width:200px;
	margin: 2px 0;
}

#sub_toolbar_settings .toolbar-section{
    float:left;
	padding:10px 7px;
	margin:0;
    border-style:solid;
	border-width:0 2px 0 0;
	border-color:#222222;
	height: 170px;
	text-align:center;
	color:#fff;
}
#sub_toolbar_settings .toolbar-section:hover{
	background-color: rgba(0,0,0,0.2);
}

#sub_toolbar_settings .search{
	border-width:0 0 0 0;
}

#search{
	width: 140px;
	padding: 0;
}

#sub_toolbar_settings  .stat_count{
	margin: 5px;
	padding: 3px;
}



