<div id='content_filter_title'>
	<div class='button_filter'><button type='submit' class='but_filter' id='but_filter'/>{LT_LABLE_FILTER}</button></div>
	<div class='input_search'><input type='text' id='filter_by_title' placeholder='{LT_SEARCH_BY_TITLE}' autocomlpete='off'></div>
</div>
