<!-- START_HEADER /-->
	<div id='header'>
		<div id='logo'>
			<img src='/skins/fntirk/images/logo.png'>
			<div>
				ФЕДЕРАЦИЯ<br>
				НАСТОЛЬНОГО ТЕННИСА<br>
				ИРКУТСКОЙ ОБЛАСТИ
			</div>
		</div>
	</div>	
<!-- END_HEADER /-->