<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='ru'> 
	<head> 
		<title>{TITLE}</title>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
		<meta name='keywords' content='Портал для Спортсменов'/>
		<meta http-equiv='content-language' content='ru-ru' />
		<meta http-equiv='content-style-type' content='text/css' />
		<meta http-equiv='imagetoolbar' content='yes' />
		<meta name='resource-type' content='document' />
		<meta name='distribution' content='global' />

		<link rel="icon" href="/skins/fntirk/images/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/skins/fntirk/images/favicon.ico" type="image/x-icon">
		
		<script type="text/javascript" src="/libs_js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="/libs_js/jquery-ui-1.9.0.custom.min.js"></script> 
                
                
                
                

                <!-- fancybox block -->
                <!-- Add mousewheel plugin (this is optional) -->
                <script type="text/javascript" src="/libs_js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

                <!-- Add fancyBox -->
                <link rel="stylesheet" href="/libs_js/fancybox/source/jquery.fancybox.css?v=2.1.1" type="text/css" media="screen" />
                <script type="text/javascript" src="/libs_js/fancybox/source/jquery.fancybox.pack.js?v=2.1.1"></script>
                    
                <!-- Optionally add helpers - button, thumbnail and/or media -->
                <link rel="stylesheet" href="/libs_js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.4" type="text/css" media="screen" />
                <script type="text/javascript" src="/libs_js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.4"></script>
                <script type="text/javascript" src="/libs_js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.4"></script>
                    
                <link rel="stylesheet" href="/libs_js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
                <script type="text/javascript" src="/libs_js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
                
                <!-- This loads the YouTube IFrame Player API code -->
               <!-- <script src="http://www.youtube.com/player_api"></script> -->
                
                
                
                
		
		<script type="text/javascript" src="/libs_js/jquery.tokeninput.js"></script>
		<script type="text/javascript" src="/libs_js/jquery.form.js"></script>
		<script type="text/javascript" src="/libs_js/jquery.validate.js"></script>
		<script type="text/javascript" src="/libs_js/jquery.validate.add-methods.js"></script>
		<script type='text/javascript' src='/libs_js/jquery.autoresize.min.js'></script>
		<script type='text/javascript' src='/libs_js/jquery.cookie.min.js'></script>
		<script type='text/javascript' src='/libs_js/site_function.js'></script>	
		<script type='text/javascript' src='/libs_js/site_main.js'></script>
		<script type='text/javascript' src='/libs_js/site_auth.js'></script>
		

		<link rel='stylesheet' type="text/css" media='screen' href='/css/token-input.css'>
		<link rel='stylesheet' type="text/css" media='screen' href='/css/token-input-facebook.css'>
		<link rel='stylesheet' type="text/css" media='screen' href='/css/token-input-dialog.css'>
		<link rel='stylesheet' type="text/css" media='screen' href='/css/toolbar.css'>	
		<link rel='stylesheet' type='text/css' media='screen' href="/skins/fntirk/css/general.css"/>  
		<link rel='stylesheet' type='text/css' media='screen' href="/skins/fntirk/css/sidebar.css"/>  
		<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/content.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/footer.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/notepad.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/jquery.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/header.css"/>
                
                
                
   
	</head> 
	<body> 
		
		{TOOLBAR}
		<!--START_CONTENT /-->
		{HEADER}
		<div id='upLink' hidden='true'>{LT_GO_TOP_PAGE}</div>
		<div id='content'>
			<div id='info'>
				{FILTER_TITLE}
				<div id='info_page'>		
					{FILTER}
					<div id='content_page'>
						{CONTENT_PAGE}
					</div>
				</div>
                  </div>
			<div id="sidebar" class="sidebar">
				{SIDEBAR}
			</div>
		</div>
		<div class="clear"></div>
		<!-- END_CONTENT /-->
		{FOOTER}  
	</body> 
</html>