<div class='ui-widget'>
	<div class='ui-state-error ui-corner-all' style='padding: 5px; margin-top: 5px;'>
		<p style='text-align: center;'><span class='ui-icon ui-icon-alert' style='float: left; margin-rigth: 10px;'></span>
		<strong>{NO_RESULT_TITLE}</strong>{NO_RESULT_TEXT}
		</p>
	</div>
</div>
