/****************************
 **  ARTS STATYA
 ****************************/

.article_del{
	border: #e2daa6 1px solid; 
	background-color: #fefae4;
}
.article p {
	text-align: justify;
	font-size: 1em;
	margin:5px;
}

.art_icon{
	background: url('../images/arts.png') no-repeat;
	padding-left: 14px;
}

.art_no_fav:hover{
	background-position:  0 -12px;
}
.art_fav{
	background-position:  0 -12px;
}
.art_author_name .art_icon{
	background-position: 0 -24px;
}
.art_menu{
	background-position:   0 -35px;
}
.art_comment{
	background-position:   0 -47px;
	text-align: right;
	border: 1px solid #000;
}



.art_label{
	width:130px;    
	float:left;   
	text-align: right;
	margin-right:15px; 
	vertical-align: middle;
	display: table-cell;
}

div.art_text{
	width: 100%;
	text-align: justyfy;
	color: #333333;
}

/* div.art_text a.{
	text-decoration: none;
	color: #333333;
} */

div.art_text img{
	margin: 10px;
}

.article_preview{
	border-bottom: 1px dotted #3E5A97;
	cursor: pointer;
}

.article_preview, .comment{
	width:100%;
	height: 50px;
	display: table;
	margin: 5px 0;
	padding: 5px;
	color: #333333;
}
	
.art_info, .art_author, .art_dop_info div{
	display: table-cell;
	vertical-align: top;
	
}

.art_author{
	width: 50px;
	padding: 0;
}

.art_info{
	padding-left: 10px;
	text-align: left;
}
.art_date{
	color: #0E3383;
}
.art_text, .art_date{
	margin: 5px 0;
}
.art_author_name{
	font-weight:bold;
	margin-bottom: 5px;
}

div.art_title{
	font-weight:bold;
	margin: 2px 0;
}


.art_dop_info{
	display: table;
	font-size: 10px;
	width: 100%;
}

div.art_rec{
	padding: 10px;
}

#artEditInfo{
	width: 718px;
	background: #e5effd;
	border-left: 1px solid #abc6dd;
	border-right: 1px solid #abc6dd;
	padding: 10px;

}

#artEditInfo label{
	font-weight: bold;
	width: 130px; 
	float: left;
	text-align: right;
	padding-right: 10px;
	cursor: pointer;
	
}
#artEditText, #artEditInfo{
	float: left;
}

#artEditInfo select{
	width: 503px;
}
#artEditInfo textarea{
	width: 492px;
}
#artEditInfo input{
	width: 490px;
	padding: 2px 5px;
}
#artEditInfo p{
	vertical-align: middle;
	margin: 2px;
}

