
/* Footer */
#footer {
	font-size: 12px;
	width: 800px;
	margin: 0 auto;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 90px;
	min-height: 30px;
}

#footer-wrap-outer {
	background: #4c4c4c url('../images/footer-r.jpg') repeat-x center top;
}

#footer-wrap {
	width: 100%;
	background: url('../images/footer.jpg') no-repeat center top;
	padding-top: 91px;
	padding-bottom: 30px;
}

div #footer-wrap {
	background-image: url('../images/footer-d.jpg');
}


/****************************
 **   Footer
 ****************************/

/* #footer #subscribe a {
	display: block;
	position: absolute;
	background-image: url(rss.png);
	width: 149px;
	height: 126px;
	margin-left: -126px;
	margin-top: -68px;
	text-indent: -2000px;
	overflow: hidden;
}

#footer .legal, #footer .credit {
	color: #5f5f5f;
}

#footer .legal {
	float: left;
}

#footer .credit a {
	text-decoration: none;
}

#footer .credit {
	float: right;
}

#footer .widget-wrap {
	float: left;
	width: 264px;
	margin-bottom: 36px;
}


#footer .widget {
	margin-right: 21px;
	margin-left: 21px;
}

#footer {
	font-size: 1.1em;
	line-height: 1.1em;
}

#footer a {
	color: #a3a3a3;
}

#footer h1 {
	color: #fff;
	font-size: 1.3em;
	margin-bottom: 10px;
	font-weight: normal;
	font-style: normal;
}
