
/****************************
 **   Sidebar
 ****************************/


#sidebar {
	width: 200px;
	left: 15px;
	position: relative;
	float: right;
}


.sidebar h2 {
	font-size: 1.1em;
	color: #676767;
	margin-top: 5px;
}

.sidebar a {
	color: #9f9f9f;
}
.sidebar a:hover {
	color: #990000;
}

.sidebar ul, .sidebar ul ol {
	margin: 0;
	padding: 0;
}

.sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-top: 5px;
	margin-bottom: 10px;
}

.sidebar ul p, .sidebar ul select {
	margin: 5px 0 8px;
}

.sidebar ul ul, .sidebar ul ol {
	margin: 5px 0 0 10px;
}

.sidebar ul ul ul, .sidebar ul ol {
	margin: 0 0 0 10px;
}

.sidebar ul ol li {
	list-style: decimal outside;
}

.sidebar ul ul li, .sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
}


.sidebar #notepad_div {
	background-image: url('../images/notepad.jpg');
	width: 190px;
	height: 200px;
	margin-left: -3px;
}

.sidebar #notepad{
	background: #eeeeee;
	border: 0;
	margin-top: 30px;
	margin-left: 19px;
	width: 145px;
	height: 140px;
	color: #909090;
	font-size: 1em;
	outline: none;
	resize:none;

}