#notepad_div {
	background-image: url(notepad.jpg);
	width: 190px;
	height: 200px;
	margin-left: -3px;
}

#notepad{
	background: #eeeeee;
	border: 0;
	margin-top: 30px;
	margin-left: 19px;
	width: 145px;
	height: 140px;
	color: #909090;
	font-size: 1em;
	outline: none;
	resize:none;

}