.sel_wrap{
    background:#99cccc;
    margin-bottom:5px;
    padding:7px;
}	

.alb_photo_view_small{
	margin: 5px 0;
	padding: 5px;
	color: #E6F4FF;
	display: table;
	width: 100%;
	border: 1px solid white;
	cursor: pointer;
}

.alb_photo_view_small:hover{
    background-color: #5e89e4;
}

.alb_avatar{
	width: 70px;
	height: 70px;
	border: 1px solid #cccccc;
	display: table-cell;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	margin:10px;
}

.alb_info{
	display: table-cell;
	padding-left: 10px;
	vertical-align:top;


}

.alb_button{
	text-align: right;
	vertical-align: middle;
	display: table-cell;
	padding-right: 20px;
	width:70px;
}