
/****************************
 **   Sidebar
 ****************************/

#sidebar {
	display: table-cell;
	padding: 30px 20px 0;
	color: #ffffff;
}


.sidebar h2{
	font-size: 1.3em;
	color: #FFFFFF;
	margin-bottom: 10px;
	margin-top: 10px;
}

.sidebar li a {
	font-size: 1.2em;
	color: #ffffff;
}
.sidebar li a:hover {
	text-decoration: underline; 
}
.sidebar ul {
	margin: 15px;
	padding: 0;
}

.sidebar ul li{
	margin-top: 3px;
	padding: 0;
}



.sidebar #notepad_div {
	background-image: url('../images/notepad.png');
	width: 180px;
	height: 264px;
}

.sidebar #notepad{
	background: rgba(244, 244, 244, 0.6);
	border: 0;
	margin-top: 40px;
	margin-left: 15px;
	width: 130px;
	height: 167px;
	color: #909090;
	font-size: 9px;
	outline: none;
	resize:none;

}