#avatar_change{
	width: 700px;
	height: auto;
/* 	min-height: 400px;
	position: fixed;
	top: 100px;
	left: 25%; */
	display: none;
/* 	background:  #e5effd;
	z-index: 999; */
}

#avatar_tmp_preview_div{
	margin: 10px auto;
	border: #cccccc 1px solid;
	padding: 5px;
	background: #ffffff;
	display: none;
	text-align: center;
}

#user_profile{
	width: 100%;
	display: table;
	margin: 10px 0 20px 0;
}

#user_info, #user_control{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

#user_control{
	width: 200px;
}

#user_info{
	width: 100%;
}

#user_info p{
	display: block;
	margin: 7px 0;
}

#user_info p label{
	width:180px;    
	float:left;  
	margin-right:15px;
	vertical-align: top;
	font-weight: bold;
}

/* #user_info fieldset{
	border-color: #cccccc;
	color: black;
}

#user_info fieldset legend{
	color: #666666;
} */

#user_boigraphy{
	display: none;
}

#user_blog{


}

#user_control button.but_user_control{
	width:190px;
	text-align: right;
}

#user_control .photo{
	width:170px;
	text-align: right;
}