<script type="text/javascript" src="/libs_js/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="/libs_js/site_articles.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/articles.css"/>

<div id='articles'>
	{ARTICLES}
</div>		
