<div id='content_filter'>

	<a href='/groups/add'><div class='button'>{LT_CREATE}</div></a>
	
	
	
	<a href='/groups/my'><div class='button'>{LT_GROUP_MY}</div></a>
	<a href='/groups/stat'><div class='button'>{LT_STAT}</div></a>
	
	<? if($_GET['id_group']>0){?>
	<h3>{LT_INFO}</h3>
	<a href='/groups/settings?id_group={ID_GROUP}'><div class='button'>{LT_SETTINGS}</div></a>
	<a href='/groups/attendance?id_group={ID_GROUP}'><div class='button'>{LT_ATTENDANCE}</div></a>
	<? }; ?>


</div>