<div id='content_filter'>

	<a href='/users/my'><div class='button'>{LT_USERS}</div></a>
	<a href='/users/my?arhiv=1'><div class='button'>{LT_ARHIV}</div></a>
	<a href='/users/my?nogroup=1'><div class='button'>{LT_NO_GROUP}</div></a>
	<a href='/users/my?stat=1'><div class='button'>{LT_USERS_STAT}</div></a>

</div>