<div id='content_filter'>

	<? if($_ENV['id_user']){ ?> 
		<a href='/articles/edit'><div class='button'>{LT_CREATE}</div></a>
	<? };?>
	
	<hr>
	<div class='buttonset' >
		<div class='button' status='1'>{LT_MY_NOTE}</div>
		<div class='button' status='2'>{LT_FAVORITES}</div>
		<div class='button' status='3'>{LT_PODPIS}</div>
	</div>

</div>