	<!-- START_FOOTER /-->
	<div id="footer-wrap-outer">
		<div id="footer-wrap">
			<div id="footer">
				<table>
					<tr>
						<td align='right'>{LT_ADMIN}:</td>
						<td>&nbsp;</td>
						<td align='left'>{ADMIN_NAME}</td>
					</tr>
					<tr>
						<td align='right'>{LT_PHONE}:</td>
						<td>&nbsp;</td>
						<td align='left'>{ADMIN_PHONE}</td>
					</tr>
					<tr>
						<td align='right'>{LT_EMAIL}:</td>
						<td>&nbsp;</td>
						<td align='left'>{ADMIN_EMAIL}</td>
					</tr>
					<tr>
						<td align='right'>{LT_DATE_START_POROJECT}:</td>
						<td>&nbsp;</td>
						<td align='left'>{DATE_START_POROJECT}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- END_FOOTER /-->