<div id='select_year_money'>
{SELECT_YEAR}
<button id='butShowMoney'>{LT_SHOW}</button>
</div>

<table class='group_money' data-year='{YEAR}'>
	<thead>
		{TH}
	</thead>
	<tbody>
		{TR}
	</tbody>
</table>