<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/photo.css"/>

<div>
	<button id="button_add_photo">{LT_PHOTO_ADD}</button>
</div>

<div id="photo_album" class='photo_album'>
	{PHOTOS}
</div>