<tr id='team_{ID_TEAM}' class='team_reg_on_sor sex' data-id-sor='{ID_SOR}'>
	<td>{TEAM_NUM}</td>
	<td>{TEAM_TITLE}</td>
	<td>{TEAM_NUM_USERS}</td>
	<td>{TEAM_RESULT}</td>
	<td><button class='but_arhiv_small'>Удалить</button></td>
</tr>