<script type="text/javascript" src="/libs_js/site_sor.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/skins/fntirk/css/sor.css"/>

<h4>{LT_ADD_SOR}</h4>
<div id='sor_add'>
	<div><label for='sor_title'>Название:</label><input type='text' id='sor_title' name='sor_title'></div>
	<div><label for='sor_city'>Город:</label><input type='text' id='sor_city' name='sor_city'></div>
	<div><label for='sor_zal'>Зал проведения:</label><input type='text' id='sor_zal' name='sor_zal'></div>
	<div><label for='sor_sport'>Вид спорта:</label><input type='text' id='sor_sport' name='sor_sport'></div>
	<div><label for='sor_org'>Организация:</label><input type='text' id='sor_org' name='sor_org'></div>
	<div><label for='sor_glav_sud'>Главный судья:</label><input type='text' id='sor_glav_sud' name='sor_glav_sud'></div>
	<div><label for='sor_glav_sec'>Главный секретарь:</label><input type='text' id='sor_glav_sec' name='sor_glav_sec'></div>
	<div><label for='sor_battlefields'>Количество площадок (столов):</label><input type='number' step='1' min='1' max='100' id='sor_battlefields' name='sor_battlefields' value='1'></div>
	<div><label for=''>Дисциплины:</label><input type='text' id='' name=''></div>
	Возраста участников
	Система проведения
	Тип соревнований
	Дата регистрация
	Даты проведения
	Положение
	Количество третьих мест
	Утешительный встречи
	Формат утешительных встреч
	Положение
	
</div>