<div id='user_{ID_USER}' class='user_reg_on_sor sex_{SEX}' data-id-sor='{ID_SOR}'>
	<input type='text' class='name' value='{NAME}' placeholder='{LT_NAME}'>
	<input type='text' class='second_name' value='{SECOND_NAME}' placeholder='{LT_SECOND_NAME}'>
	
	<select name='rang' class='rang' value=''><option value=''>{LT_RANGS_SPORT}</option>{RANGS_SPORT}</select>
	
	<select name='teem' class='teem' value=''><option value=''>{LT_TEEM}</option></select>
	
	<select name='' class='age linklist' data-defval='{AGE}'><option value='0'>{LT_AGE}</option>{AGE_SELECT}</select>
	<select name='' class='dist linklist' data-defval='{DIST}'><option value='0'>{LT_DIST}</option>{DIST_SELECT}</select>
	
	<input type='number' class='weight' value='{WEIGHT}' placeholder='{LT_WEIGHT}' step='0.1' min='15' max='200'>
	
	<button class='but_save_small'>Сохранить</button>
	<button class='but_arhiv_small'>Удалить</button>
</div>