<?php if(isset($_COOKIE[id_user])){?>
	
	<div class='buttonset menu'>
		<button class='but_doc' <? if($_GET[type]=='new'){echo 'disabled';};?> href='?page=articles&type=new'>Новая заметка</button>
		<button class='but_my'  <? if(($_GET[type]=='my' || (!$_GET[type] && !$_GET[id])) && isset($_COOKIE[id_user])){echo 'disabled';};?> href='?page=articles&type=my'>Мои заметки</button>
		<button class='but_sub' <? if($_GET[type]=='sub'){echo 'disabled';};?> href='?page=articles&type=sub'>Подписка</button>
		<button class='but_fav' <? if($_GET[type]=='fav'){echo 'disabled';};?> href='?page=articles&type=fav'>Избранные заметки</button>
	</div>

<? }; ?>
	
<?

// Редактор	
if($_GET[type]=='edit' && isset($_COOKIE[id_user]) && $_GET[id]){
	
	$q_art=("SELECT id_user FROM articles WHERE id_art='$_GET[id]'");
	$r_art = mysql_query($q_art);
	$art = mysql_fetch_array($r_art);
	if($_ENV[id_user_type_ad] || $_ENV[id_user]==$art[id_user]){
		echo edit_articles($_GET[id]);
	}else{
		$error=true;
	};
	
// Новая заметка
}elseif($_GET[type]=='new' && isset($_COOKIE[id_user]) ){
	echo edit_articles();
	
// Блог
}elseif(($_GET[type]=='my' || (!$_GET[type] && !$_GET[id])) && isset($_COOKIE[id_user])){
	echo show_articles(0,$_ENV[id_user]);
	
// Выводим блоги на которые подписаны
}elseif($_GET[type]=='sub'  && isset($_COOKIE[id_user])){
	echo show_articles(0,$_ENV[id_user],1);

// Выводим избранные статьи
}elseif($_GET[type]=='fav'  && isset($_COOKIE[id_user])){
	echo show_articles(0,$_ENV[id_user],0,1);

// Выводим статью выбранную
}elseif(isset($_GET[id])){
	echo show_articles($_GET[id]);
	
// Азбука
}elseif($_GET[type]=='azbuka'){
	//echo show_articles(0,0,0,0,0,0,1);
	
// Новости
}elseif($_GET[type]=='news'){
	//echo show_articles(0,0,0,1);
	
// Соревнования
}elseif($_GET[type]=='sor'){
	//echo show_articles(0,0,0,0,0,1);

// Блог
}elseif($_GET[type]=='tvor'){
	//echo show_articles(0,0,0,0,0,0,0,0,1);

// Статья
}elseif($_GET[type]=='statya'){
	//echo show_articles(0,0,0,0,0,0,0,1);
		
}else{
	$error=true;
};

if($error){
	echo "<div class='out_text'>Ошибка доступа!</div>";
};

?>